OPERATOR_HUB_PUBLIC_URL=http://127.0.0.1:8787
OPERATOR_HUB_APP_URL=http://localhost:5173
OPERATOR_HUB_MS_TENANT_ID=4280af84-9778-45ce-887a-b7e318ccd429
OPERATOR_HUB_MS_CLIENT_ID=7820b33e-fb4f-4d5f-89b9-e2522dba4ed2
OPERATOR_HUB_MS_CLIENT_SECRET=
OPERATOR_HUB_MS_SCOPES=openid profile offline_access User.Read Files.ReadWrite.All Sites.ReadWrite.All Calendars.ReadWrite
